.page__header {
  margin: 0 auto 40px;
}

@media (max-width: 944px) {
  .page__header {
  padding: 0 19px;
  }
}


@media(max-width: 450px) {
  .page__header {
    padding: 0;
    margin-bottom: 38px;
  }
}
